# Executable files
*.exe

# IDE-specific files (optional, but commonly ignored)
.idea/

# Go-specific ignores
*.test
*.out

# OS-specific files
.DS_Store
Thumbs.db
.gitpmoji.env
__debug*

session.json
last-prompt-log.txt